.file-share {
    padding: 15px;

    .file-share-actions {
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
        margin-bottom: .7rem;
        margin-right: 1rem;
    }

}